<div class="row">
    <label>Comuna: {{detalle.poi.nroComuna}}</label>
</div>
<div class="row">
    <label>Domicilio: {{detalle.poi.domicilio}}</label>
</div>
<div class="form-group">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-info-sign"></span> Servicio</th>
                <th><span class="glyphicon glyphicon-time"></span> Horario</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="servicio in detalle.poi.listaServicios" class="active">
                <td>{{servicio.nombre}}</td>
                <td><label class="text-info" ng-repeat="rango in servicio.horario.listaDias">{{rango.toString()}}&nbsp | &nbsp</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
